# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [79]:
%matplotlib inline

import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [9]:
chipo = pd.read_csv("chipotle.tsv", sep='\t')

### Step 4. See the first 10 entries

In [12]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

In [15]:
chipo.dtypes

order_id               int64
quantity               int64
item_name             object
choice_description    object
item_price            object
dtype: object

In [20]:
chipo_excel = chipo.to_excel("chipotle.xlsx", sheet_name = 'example', index = False) # сохранение файла в формате excel

### Step 5. What is the number of observations in the dataset?

In [24]:
chipo.shape[0]

4622

In [2]:
chipo.info()

### Step 6. What is the number of columns in the dataset?

In [25]:
chipo.shape[1]

5

### Step 7. Print the name of all the columns.

In [27]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 8. How is the dataset indexed?

In [28]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

In [29]:
chipo.describe()

          order_id     quantity
count  4622.000000  4622.000000
mean    927.254868     1.075725
std     528.890796     0.410186
min       1.000000     1.000000
25%     477.250000     1.000000
50%     926.000000     1.000000
75%    1393.000000     1.000000
max    1834.000000    15.000000

### Step 9. Which was the most-ordered item?

In [57]:
chipo_max = chipo.groupby('item_name')
c = chipo_max.sum()
c = c.sort_values(['quantity'], ascending = False)
c.head(1)

              order_id  quantity
item_name
Chicken Bowl    713926       761

### Step 10. For the most-ordered item, how many items were ordered?

In [58]:
chipo_max = chipo.groupby('item_name')
c = chipo_max.sum()
c = c.sort_values(['quantity'], ascending = False)
c.head(1)

              order_id  quantity
item_name
Chicken Bowl    713926       761

### Step 11. What was the most ordered item in the choice_description column?

In [70]:
chipo_choice_description_max = chipo.groupby('choice_description')
chipo_choice_description_max = chipo_choice_description_max.sum()
chipo_choice_description_max = chipo_choice_description_max.sort_values(['quantity'], ascending = False)
chipo_choice_description_max

                                                    order_id  quantity
choice_description
[Diet Coke]                                           123455       159
[Coke]                                                122752       143
[Sprite]                                               80426        89
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese...     43088        49
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese...     36041        42
...                                                      ...       ...
[Roasted Chili Corn Salsa, [Fajita Vegetables, ...       577         1
[Roasted Chili Corn Salsa, [Fajita Vegetables, ...       585         1
[Roasted Chili Corn Salsa, [Fajita Vegetables, ...       235         1
[Roasted Chili Corn Salsa, [Guacamole, Sour Cre...       987         1
[[Tomatillo-Red Chili Salsa (Hot), Tomatillo-Gr...      1299         1

[1043 rows x 2 columns]

### Step 12. How many items were orderd in total?

In [71]:
items_total = sum(chipo['quantity'])
items_total

4972

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [78]:
item_price_type = chipo.item_price.dtype
item_price_type

dtype('O')

#### Step 13.b. Create a lambda function and change the type of item price

In [99]:
dollarizer = lambda x: float(x[1:-1])
chipo.item_price = chipo.item_price.apply(dollarizer)

#### Step 13.c. Check the item price type

### Step 14. How much was the revenue for the period in the dataset?

In [105]:
revenue = (chipo['quantity'] * chipo['item_price']).sum()
revenue

39237.02

### Step 15. How many orders were made in the period?

In [107]:
a = set()
for order in chipo['order_id']:
    a.add(order)
print(len(a))

1834

### Step 16. What is the average revenue amount per order?

In [112]:
average_revenue = revenue/ len(a)
average_revenue

21.39423118865867

In [4]:
# Solution 2

### Step 17. How many different items are sold?

In [115]:
chipo.item_name.value_counts().count()

50